<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">

<div class="container-div ui-layout-center">
	<div class="row">
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
	var prefix = ctx + "service/qualify"

	$(function() {
		$('body').layout({ west__size: 185 });
		queryQualifyList();
	});

	function queryQualifyList() {
		var options = {
			url: prefix + "/qualifyList",
			sortName: "createTime",
			sortOrder: "desc",
			modalName: "用户",
			search: false,
			showExport: false,
			columns: [{
				checkbox: true
			},
				{
					field: 'userId',
					title: '用户ID'
				},
				{
					field: 'openId',
					title: '微信编号'
				},
				{
					field: 'userName',
					title: '微信名'
				},
				{
					field: 'birthday',
					title: '生日'
				},
				{
					field: 'gender',
					title: '性别',
					formatter: function(value, row, index) {
						return value=='0'?'男':'女';
					}
				},
				{
					field: 'phone',
					title: '手机'
				},
				{
					field: 'place',
					title: '常住地址'
				},
				{
					field: 'qualifyPositiveUrl',
					title: '正面证件照',
					formatter: function(value, row, index) {
						return '/profile/'+value;
					}
				},{
					field: 'qualifyNegativeUrl',
					title: '反面证件照',
					formatter: function(value, row, index) {
						return '/profile/'+value;
					}
				},
				{
					field: 'status',
					title: '状态',
					align: 'center',
					formatter: function(value, row, index) {
						if (value==0){
							return '待审核';
						} else if (value==1){
							return '审核未通过';
						} else {
							return '审核通过';
						}
					}
				},
				{
					field: 'createTime',
					title: '申请时间',
					sortable: true
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a> ');
						actions.push('<a class="btn btn-info btn-xs ' + resetPwdFlag + '" href="#" onclick="resetPwd(\'' + row.userId + '\')"><i class="fa fa-key"></i>重置</a>');
						return actions.join('');
					}
				}]
		};
		$.table.init(options);
	}

</script>
</body>
</html>