<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.quba.mapper.QubaMapper">

	<resultMap id="qubaResult" type="com.ruoyi.project.system.quba.domain.Quba">
		<id column="id" property="id"/>
		<result column="create_time" property="createTime"/>
		<result column="modify_time" property="modifyTime"/>
		<result column="name" property="name"/>
		<result column="owner_id" property="ownerId"/>
		<result column="logo" property="logo"/>
		<result column="description" property="description"/>
	</resultMap>

	<resultMap type="User" id="UserResult">
		<id     property="userId"       column="user_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="del_flag"     />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="openId" column="open_id"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="language" column="language"/>
		<result property="province" column="province"/>
	</resultMap>

	<resultMap id="qubaUserDTOResult" type="com.ruoyi.project.system.quba.domain.QubaUserDTO">
		<result property="qubaUserId" column="quba_user_id"/>
		<result property="userId" column="user_id"/>
		<result property="qubaId" column="quba_id"/>
		<result property="userName" column="user_name"/>
		<result property="qubaName" column="quba_name"/>
		<result property="qubaStatus" column="quba_status"/>
		<result property="userQualifyStatus" column="user_qualify_status"/>
		<result property="createTime" column="quba_user_create_time"/>
	</resultMap>

	<select id="getUserIdByQubaUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
		SELECT user_id FROM service_quba_user WHERE id=#{qubaUserId}
	</select>

	<update id="updateQubaUserStatusById">
		UPDATE service_quba_user SET status=#{status} WHERE id=#{qubaUserId}
	</update>

	<update id="updateQubaUserStatusByUserId">
		UPDATE service_quba_user SET status=#{status} WHERE user_id=#{userId} AND status=2
	</update>

	<select id="getAllQubaUser" resultMap="qubaUserDTOResult">
		SELECT
		    squ.id quba_user_id,
			su.user_id user_id,
		    squ.quba_id quba_id,
		    su.user_name user_name,
		    sq.name quba_name,
		    squ.status quba_status,
		    su.is_qualified user_qualify_status,
		    squ.create_time quba_user_create_time
		FROM
			sys_user su
				JOIN service_quba_user squ ON su.user_id = squ.user_id
				JOIN service_quba sq ON squ.quba_id = sq.id
	</select>

	<select id="getWaitExamine" resultMap="qubaUserDTOResult">
		SELECT
			squ.id quba_user_id,
			su.user_id user_id,
			squ.quba_id quba_id,
			su.user_name user_name,
			sq.name quba_name,
			squ.status quba_status,
			su.is_qualified user_qualify_status,
			squ.create_time quba_user_create_time
		FROM
			sys_user su
				JOIN service_quba_user squ ON su.user_id = squ.user_id
				JOIN service_quba sq ON squ.quba_id = sq.id
		WHERE squ.status=1
	</select>

	<select id="getById" parameterType="java.lang.Long" resultMap="qubaResult">
		SELECT id,create_time,modify_time,name,owner_id,logo FROM service_quba WHERE id=#{id}
	</select>

	<select id="getQubaMemberByQubaId" parameterType="java.lang.Long" resultMap="UserResult">
		SELECT
		su.user_id,
		su.dept_id,
		su.login_name,
		su.user_name,
		su.email,
		su.phonenumber,
		su.sex,
		su.avatar,
		su.status,
		su.del_flag,
		su.login_ip,
		su.login_date,
		su.create_by,
		su.create_time,
		su.update_by,
		su.update_time,
		su.remark,
		su.open_id,
		su.city,
		su.country,
		su.language,
		su.province
		FROM service_quba_user squ, sys_user su
		WHERE squ.user_id = su.user_id
		AND squ.quba_id = #{qubaId}
	</select>

	<select id="getAll" resultMap="qubaResult">
		SELECT
		id,create_time,modify_time,name,owner_id,logo,description
		FROM service_quba
	</select>

	<select id="getUserJoined" resultType="int">
		select count(1) FROM service_quba_user WHERE user_id = #{userId}
	</select>

	<select id="getUserJoinedQuba" resultType="java.lang.Long">
		SELECT quba_id FROM service_quba_user WHERE user_id=#{userId} AND status = 2 LIMIT 1
	</select>

	<select id="getByUserId" parameterType="java.lang.Long" resultMap="qubaResult">
		SELECT
		sq.id,sq.create_time,sq.modify_time,sq.name,sq.owner_id,sq.logo,sq.description
		FROM service_quba sq,service_quba_user squ WHERE sq.id = squ.quba_id
		AND squ.user_id=#{userId}
	</select>

	<select id="getByName" parameterType="java.lang.String" resultMap="qubaResult">
		SELECT
			id,create_time,modify_time,name,owner_id,logo,description
		FROM service_quba
		WHERE name LIKE #{name}
	</select>

	<insert id="inserQuba">
		INSERT INTO service_quba (create_time,modify_time,name,owner_id,logo,description)
		VALUES (NOW(),NOW(),#{name},#{ownerId},#{logo},#{description})
	</insert>


	<insert id="insertQubaUser">
		INSERT INTO service_quba_user
		(quba_id,user_id)
		VALUES (#{qubaId},#{userId})
	</insert>

	<insert id="insertQubaSignIn">
		INSERT INTO service_quba_sign
		(quba_id,user_id)
		VALUES (#{qubaId},#{userId})
	</insert>

	<select id="getQubaSignInByUserIdAndDate" resultType="int">
		SELECT 1 FROM service_quba_sign
		WHERE quba_id=#{qubaId} AND user_id=#{userId} AND TO_DAYS(create_time) = TO_DAYS(#{date})
	</select>

	<select id="getByQubaIdAndUserId" resultType="int">
		SELECT count(1) FROM service_quba_user WHERE user_id=#{userId} AND quba_id=#{qubaId}
	</select>

	<select id="getQubaMemberCount" resultType="int">
		SELECT count(1) FROM service_quba_user WHERE quba_id=#{qubaId}
	</select>

	<select id="getQubaUserAvatarTop3" resultType="java.lang.String">
		SELECT su.avatar FROM service_quba_user squ LEFT JOIN sys_user su
		ON squ.user_id = su.user_id WHERE squ.quba_id=#{qubaId} LIMIT 3
	</select>

</mapper>