<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.thing.mapper.ThingMapper">

    

    <resultMap id="thingResult" type="com.ruoyi.project.system.thing.domain.Thing">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="top_img_id" property="topImgId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="price_type" property="priceType"/>
        <result column="type_id" property="typeId"/>
        <result column="district_id" property="districtId"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="trade_type" property="tradeType"/>
        <result column="is_new" property="isNew"></result>
        <association property="topImage" resultMap="imageResult"/>
    </resultMap>

    <resultMap id="imageResult" type="com.ruoyi.project.system.thing.domain.Image">
        <id column="image_id" property="id"/>
        <result column="image_create_time" property="createTime"/>
        <result column="image_modify_time" property="modifyTime"/>
        <result column="img_url"  property="imageUrl"/>
        <result column="img_path" property="imgPath"/>
    </resultMap>

    <resultMap id="thingDTOResult" type="com.ruoyi.project.system.thing.domain.ThingDTO">
        <result column="create_by" property="createBy"/>
        <result column="creator_avatar" property="creatorAvatar"/>
        <result column="creator_area" property="creatorArea"/>
        <result column="id" property="id"/>
        <result column="surface_img" property="surfaceImg"/>
        <result column="sku_name" property="skuName"/>
        <result column="price" property="price"/>
    </resultMap>

    <select id="getLatestThingDTO" resultMap="thingDTOResult">
        SELECT
            su.user_name create_by ,
            su.avatar creator_avatar ,
            sd.`name` creator_area ,
            st.id id ,
            CONCAT(si.img_path , '/' , si.img_url) surface_img ,
            st.`name` sku_name ,
            st.price price
        FROM
            service_thing st
        JOIN sys_user su ON st.user_id = su.user_id
        JOIN service_district sd ON st.district_id = sd.id
        JOIN service_image si ON st.top_img_id = si.id
        ORDER BY
            st.create_time DESC
    </select>


    <select id="getLatest" resultMap="thingResult">
       SELECT
        st.id,
        st.create_time,
        st.modify_time,
        st.top_img_id,
        st.name,
        st.price,
        st.price_type,
        st.user_id,
        st.type_id,
        st.district_id,
        st.description,
        st.status,
        st.is_new,
        si.id image_id,
        si.create_time image_create_time,
        si.modify_time image_modify_time,
        si.img_path,
        si.img_url,
        st.trade_type
    FROM
        service_thing st LEFT JOIN
        service_image si on st.top_img_id = si.id
    ORDER BY
        st.modify_time DESC
    </select>

    <select id="getByUserIdAndStatus" resultMap="thingResult">
        SELECT
            st.id,
            st.create_time,
            st.modify_time,
            st.top_img_id,
            st.name,
            st.price,
            st.price_type,
            st.user_id,
            st.type_id,
            st.district_id,
            st.description,
            st.status,
            st.is_new,
            si.id image_id,
            si.create_time image_create_time,
            si.modify_time image_modify_time,
            si.img_path,
            si.img_url,
            st.trade_type
        FROM
            service_thing st LEFT JOIN
            service_image si on st.top_img_id = si.id
        WHERE st.user_id=#{userId} AND st.status=#{status}
        ORDER BY
            st.modify_time DESC
    </select>

    <select id="getLatestAndByTypeId" resultMap="thingResult" parameterType="java.lang.Long">
        SELECT
        st.id,
        st.create_time,
        st.modify_time,
        st.top_img_id,
        st.name,
        st.price,
        st.price_type,
        st.user_id,
        st.type_id,
        st.district_id,
        st.description,
        st.status,
        st.is_new,
        si.id image_id,
        si.create_time image_create_time,
        si.modify_time image_modify_time,
        si.img_path,
        si.img_url,
        st.trade_type
    FROM
        service_thing st LEFT JOIN
        service_image si on st.top_img_id = si.id
    WHERE
        st.type_id = #{typeId}
    ORDER BY
        st.modify_time DESC
    </select>

    <select id="getById" parameterType="java.lang.Long" resultMap="thingResult">
    SELECT
        st.id,
        st.create_time,
        st.modify_time,
        st.top_img_id,
        st.name,
        st.price,
        st.price_type,
        st.user_id,
        st.type_id,
        st.district_id,
        st.description,
        st.status,
        st.is_new,
        si.id image_id,
        si.create_time image_create_time,
        si.modify_time image_modify_time,
        si.img_path,
        si.img_url,
        st.trade_type
    FROM
        service_thing st LEFT JOIN
        service_image si on st.top_img_id = si.id
    WHERE
        st.id = #{id}
    </select>

    <select id="getByUserFromOrder" resultMap="thingResult">
        SELECT
            st.id ,
            st.create_time ,
            st.modify_time ,
            st.top_img_id ,
            st.NAME ,
            st.price ,
            st.price_type ,
            st.user_id ,
            st.type_id ,
            st.district_id ,
            st.description ,
            st.STATUS ,
            st.is_new,
            si.id image_id ,
            si.create_time image_create_time ,
            si.modify_time image_modify_time ,
            si.img_path ,
            si.img_url ,
            st.trade_type
        FROM
            service_thing st ,
            service_order so ,
            service_image si
        WHERE
            st.id = so.thing_id
        AND st.top_img_id = si.id
        AND so.user_id = #{userId}
        AND so. STATUS IN(4 , 5 , 6 , 7)
    </select>

    <select id="getImagesByThingId" parameterType="java.lang.Long" resultMap="imageResult">
        SELECT
            id image_id,
            create_time image_create_time,
            modify_time image_modify_time,
            img_path,
            img_url
        FROM
            service_image
        WHERE
            thing_id = #{thingId}
    </select>

    <insert id="insertThing" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO service_thing
        (create_time,modify_time,top_img_id,name,price,price_type,user_id,type_id,district_id,description,status,trade_type,is_new)
        VALUES (NOW(),NOW(),#{topImgId},#{name},#{price},#{priceType},#{userId},#{typeId},#{districtId},#{description},#{status},#{tradeType},#{isNew})
    </insert>

    <update id="updateThing">
        UPDATE service_thing
        <set>
            <if test="modifyTime != null">
                modify_time=NOW(),
            </if>
            <if test="topImgId!=null">
                top_img_id=#{topImgId},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="priceType!=null">
                price_type=#{priceType},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="typeId!=null">
                type_id=#{typeId},
            </if>
            <if test="districtId!=null">
                district_id=#{districtId},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="tradeType!=null">
                trade_type=#{tradeType},
            </if>
            <if test="isNew!=null">
                is_new=#{isNew},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
</mapper>