<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.user.mapper.UserMapper">

	<resultMap type="User" id="UserResult">
		<id     property="userId"       column="user_id"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="del_flag"     />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="wechat" column="wechat"/>
		<result property="qq" column="qq"/>
		<result property="openId" column="open_id"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="language" column="language"/>
		<result property="province" column="province"/>
		<result property="isQualified" column="is_qualified"/>
		<result property="friendValue" column="friend_value"/>
		<result property="qualifyPositiveUrl" column="qualify_positive_url"/>
		<result property="qualifyNegativeUrl" column="qualify_negative_url"/>
		<result property="xianquMoney" column="xianqu_money"/>
		<result property="bornDate" column="born_date"/>
		<result property="usualResidence" column="usual_residence"/>
		<result property="industry" column="industry"/>
		<result property="jobTitle" column="job_title"/>
		<result property="educationExperience" column="educational_experience"/>
		<result property="isFillContact" column="is_fill_contact"/>
		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
	</resultMap>

	<resultMap id="RoleResult" type="Role">
		<id     property="roleId"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"     column="data_scope"    />
		<result property="status"       column="role_status"    />
	</resultMap>
	
	<sql id="selectUserVo">
        select  u.user_id,  u.login_name, u.user_name, u.email, u.phonenumber, u.sex, u.avatar, u.password, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_time, u.remark,u.open_id,u.city,u.country,u.language,u.province,u.is_qualified,u.friend_value,u.qualify_positive_url,u.qualify_negative_url,u.xianqu_money,u.born_date,u.usual_residence,u.industry,u.job_title,u.educational_experience,
       		    r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status,u.wechat,u.qq,u.is_fill_contact
		from sys_user u
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
    </sql>
	
	<select id="selectUserList" parameterType="User" resultMap="UserResult">
		select u.wechat,u.qq,u.is_fill_contact, u.user_id,  u.login_name, u.user_name, u.email, u.phonenumber, u.password, u.sex, u.avatar, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark, u.open_id,u.city,u.country,u.language,u.province,u.is_qualified,u.friend_value,u.qualify_positive_url,u.qualify_negative_url,u.xianqu_money,u.born_date,u.usual_residence,u.industry,u.job_title,u.educational_experience from sys_user u
		where u.del_flag = '0'
		<if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND u.status = #{status}
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
		<if test="openId!=null and openId!=''">
            AND open_id = #{openId}
        </if>
        <if test="country!=null and country!=''">
            AND country=#{country}
        </if>
        <if test="language!=null and language!=''">
            AND language=#{language}
        </if>
        <if test="province!=null and province!=''">
            AND province=#{province}
        </if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUserByLoginName" parameterType="String" resultMap="UserResult">
	    <include refid="selectUserVo"/>
		where u.login_name = #{userName}
	</select>

    <select id="selectByUserByOpenId" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where u.open_id=#{openId}
    </select>
	
	<select id="selectUserByPhoneNumber" parameterType="String" resultMap="UserResult">
		<include refid="selectUserVo"/>
		where u.phonenumber = #{phonenumber}
	</select>
	
	<select id="selectUserByEmail" parameterType="String" resultMap="UserResult">
	    <include refid="selectUserVo"/>
		where u.email = #{email}
	</select>
	
	<select id="checkLoginNameUnique" parameterType="String" resultType="int">
		select count(1) from sys_user where login_name=#{loginName}
	</select>
	
	<select id="checkPhoneUnique" parameterType="String" resultMap="UserResult">
		select user_id, phonenumber from sys_user where phonenumber=#{phonenumber}
	</select>
	
	<select id="checkEmailUnique" parameterType="String" resultMap="UserResult">
		select user_id, email from sys_user where email=#{email}
	</select>
	
	<select id="selectUserById" parameterType="Long" resultMap="UserResult">
		<include refid="selectUserVo"/>
		where u.user_id = #{userId}
	</select>
	
	<delete id="deleteUserById" parameterType="Long">
 		delete from sys_user where user_id = #{userId}
 	</delete>
 	
 	<delete id="deleteUserByIds" parameterType="Long">
 		update sys_user set del_flag = '2' where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
 	
 	<update id="updateUser" parameterType="User">
 		update sys_user
 		<set>
 			<if test="city!=null and city!=''">city=#{city},</if>
 			<if test="country!=null and country!=''">country=#{country},</if>
 			<if test="language!=null and language!=''">language=#{language},</if>
 			<if test="province!=null and province!=''">province=#{province},</if>
 			<if test="loginName != null and loginName != ''">login_name = #{loginName},</if>
 			<if test="userName != null and userName != ''">user_name = #{userName},</if>
 			<if test="email != null and email != ''">email = #{email},</if>
 			<if test="phonenumber != null and phonenumber != ''">phonenumber = #{phonenumber},</if>
 			<if test="sex != null and sex != ''">sex = #{sex},</if>
 			<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
 			<if test="password != null and password != ''">password = #{password},</if>
 			<if test="salt != null and salt != ''">salt = #{salt},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
 			<if test="loginDate != null">login_date = #{loginDate},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			<if test="remark != null and remark != ''">remark = #{remark},</if>
 			<if test="city!=null and city!=''">city=#{city},</if>
 			<if test="country!=null and country!=''">country=#{country},</if>
 			<if test="language!=null and language!=''">language=#{language},</if>
 			<if test="province!=null and province!=''">province=#{province},</if>
 			<if test="isQualified!=null">is_qualified=#{isQualified},</if>
 			<if test="friendValue!=null">friend_value=#{friendValue},</if>
 			<if test="qualifyPositiveUrl!=null and qualifyPositiveUrl!=''">qualify_positive_url=#{qualifyPositiveUrl},</if>
 			<if test="qualifyNegativeUrl!=null and qualifyNegativeUrl!=''">qualify_negative_url=#{qualifyNegativeUrl},</if>
 			<if test="xianquMoney!=null">xianqu_money=#{xianquMoney},</if>
 			<if test="bornDate!=null">born_date=#{bornDate},</if>
 			<if test="usualResidence!=null and usualResidence!=''">usual_residence=#{usualResidence},</if>
 			<if test="industry!=null and industry!=''">industry=#{industry},</if>
 			<if test="jobTitle!=null and jobTitle!=''">job_title=#{jobTitle},</if>
 		    <if test="wechat!=null and wechat!=''">wechat=#{wechat},</if>
 		    <if test="qq!=null and qq!=''">qq=#{qq},</if>
 		    <if test="isFillContact!=null">is_fill_contact=#{isFillContact},</if>
 			<if test="educationExperience!=null and educationExperience!=''">educational_experience=#{educationExperience},</if>
 			update_time = sysdate()
 		</set>
 		where user_id = #{userId}
	</update>
 	
 	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
 		insert into sys_user(
			<if test="openId!=null and openId!=''">open_id,</if>
			<if test="city!=null and city!=''">city,</if>
			<if test="country!=null and country!=''">country,</if>
			<if test="language!=null and language!=''">language,</if>
			<if test="province!=null and province!=''">province,</if>
 			<if test="userId != null and userId != 0">user_id,</if>
 			<if test="loginName != null and loginName != ''">login_name,</if>
 			<if test="userName != null and userName != ''">user_name,</if>
 			<if test="email != null and email != ''">email,</if>
 			<if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
 			<if test="sex != null and sex != ''">sex,</if>
 			<if test="password != null and password != ''">password,</if>
 			<if test="salt != null and salt != ''">salt,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			<if test="remark != null and remark != ''">remark,</if>
			<if test="city!=null and city!=''">city,</if>
			<if test="country!=null and country!=''">country,</if>
			<if test="language!=null and language!=''">language,</if>
			<if test="province!=null and province!=''">province,</if>
			<if test="isQualified!=null">is_qualified,</if>
			<if test="friendValue!=null">friend_value,</if>
			<if test="qualifyPositiveUrl!=null and qualifyPositiveUrl!=''">qualify_positive_url,</if>
			<if test="qualifyNegativeUrl!=null and qualifyNegativeUrl!=''">qualify_negative_url,</if>
			<if test="xianquMoney!=null">xianqu_money,</if>
			<if test="bornDate!=null">born_date,</if>
			<if test="usualResidence!=null and usualResidence!=''">usual_residence,</if>
			<if test="industry!=null and industry!=''">industry,</if>
			<if test="jobTitle!=null and jobTitle!=''">job_title,</if>
			<if test="educationExperience!=null and educationExperience!=''">educational_experience,</if>
 		    <if test="wechat!=null and wechat!=''">wechat,</if>
 		    <if test="qq!=null and qq!=''">qq,</if>
			<if test="isFillContact!=null">is_fill_contact,</if>
 			create_time
 		)values(
			<if test="openId!=null and openId!=''">#{openId},</if>
			<if test="city!=null and city!=''">#{city},</if>
			<if test="country!=null and country!=''">#{country},</if>
			<if test="language!=null and language!=''">#{language},</if>
			<if test="province!=null and province!=''">#{province},</if>
 			<if test="userId != null and userId != ''">#{userId},</if>
 			<if test="loginName != null and loginName != ''">#{loginName},</if>
 			<if test="userName != null and userName != ''">#{userName},</if>
 			<if test="email != null and email != ''">#{email},</if>
 			<if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
 			<if test="sex != null and sex != ''">#{sex},</if>
 			<if test="password != null and password != ''">#{password},</if>
 			<if test="salt != null and salt != ''">#{salt},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="city!=null and city!=''">#{city},</if>
			<if test="country!=null and country!=''">#{country},</if>
			<if test="language!=null and language!=''">#{language},</if>
			<if test="province!=null and province!=''">#{province},</if>
			<if test="isQualified!=null">#{isQualified},</if>
			<if test="friendValue!=null">#{friendValue},</if>
			<if test="qualifyPositiveUrl!=null and qualifyPositiveUrl!=''">#{qualifyPositiveUrl},</if>
			<if test="qualifyNegativeUrl!=null and qualifyNegativeUrl!=''">#{qualifyNegativeUrl},</if>
			<if test="xianquMoney!=null">#{xianquMoney},</if>
			<if test="bornDate!=null">#{bornDate},</if>
			<if test="usualResidence!=null and usualResidence!=''">#{usualResidence},</if>
			<if test="industry!=null and industry!=''">#{industry},</if>
			<if test="jobTitle!=null and jobTitle!=''">#{jobTitle},</if>
			<if test="educationExperience!=null and educationExperience!=''">#{educationExperience},</if>
			<if test="wechat!=null and wechat!=''">#{wechat},</if>
			<if test="qq!=null and qq!=''">#{qq},</if>
			<if test="isFillContact!=null">#{isFillContact},</if>
 			sysdate()
 		)
	</insert>
	
</mapper> 