<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.place.mapper.UserPlaceMapper">

    <resultMap id="placeResult" type="com.ruoyi.project.system.place.domain.UserPlace">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="place" property="place"/>
        <result column="cellphone" property="cellphone"/>
        <result column="user_id" property="userId"/>
        <result column="detail" property="detail"/>
        <result column="is_master" property="isMaster"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="consignee" property="consignee"/>
    </resultMap>

    <insert id="insertUserPlace" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO service_user_place
        (create_time,modify_time,place,cellphone,user_id,detail,is_master,province,city,county,consignee)
        VALUES (NOW(),NOW(),#{place},#{cellphone},#{userId},#{detail},#{isMaster},#{province},#{city},#{county},#{consignee})
    </insert>

    <select id="getMasterByUserId" resultMap="placeResult">
        SELECT
        id,create_time,modify_time,place,cellphone,user_id,detail,is_master
        FROM service_user_place
        WHERE user_id=#{userId} AND is_master=1
    </select>

    <select id="getUserPlace" resultMap="placeResult">
        SELECT
        id,create_time,modify_time,place,cellphone,user_id,detail,is_master
        FROM service_user_place
        WHERE user_id=#{userId}
    </select>

    <select id="getByPlaceId" resultMap="placeResult">
        SELECT
        id,create_time,modify_time,place,cellphone,user_id,detail,is_master,province,city,county
        FROM service_user_place
        WHERE id=#{placeId}
    </select>

    <update id="updateIsMasterByUserId">
        UPDATE service_user_place SET is_master=0 WHERE user_id=#{userId}
    </update>

    <update id="updateById">
        UPDATE service_user_place SET is_master=1 WHERE id=#{id}
    </update>

</mapper>